In [ ]:
# Import the dependencies.

import pandas as pd

import gmaps

import requests

# Import the API key.

from config import g_key

In [ ]:
city_data_df = pd.read_csv("weather_data/cities.csv")

city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Soma,TR,2022-07-20 12:41:16,39.1855,27.6094,87.75,26,0,20.56
1,1,Atuona,PF,2022-07-20 12:41:17,-9.8000,-139.0333,76.98,78,53,13.80
2,2,Manama,BH,2022-07-20 12:39:30,26.2154,50.5832,102.38,59,45,12.66
3,3,Artur Nogueira,BR,2022-07-20 12:41:18,-22.5731,-47.1725,66.31,53,0,6.82
4,4,Vaini,TO,2022-07-20 12:41:18,-21.2000,-175.2000,73.56,88,75,8.05

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Soma,TR,2022-07-20 12:41:16,39.1855,27.6094,87.75,26,0,20.56
1,1,Atuona,PF,2022-07-20 12:41:17,-9.8000,-139.0333,76.98,78,53,13.80
2,2,Manama,BH,2022-07-20 12:39:30,26.2154,50.5832,102.38,59,45,12.66
3,3,Artur Nogueira,BR,2022-07-20 12:41:18,-22.5731,-47.1725,66.31,53,0,6.82
4,4,Vaini,TO,2022-07-20 12:41:18,-21.2000,-175.2000,73.56,88,75,8.05

In [ ]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [ ]:
# Configure gmaps to use your Google API key.

gmaps.configure(api_key=g_key)

In [14]:
## General syntax for creating a heatmap

# Heatmap of temperature

# Get the latitude and longitude.

locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.

max_temp = city_data_df["Max Temp"]

# Assign the figure variable.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.

heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of humidity

# Get the latitude and longitude.

locations = city_data_df[["Lat", "Lng"]]



humidity = city_data_df["Humidity"]

# Assign the figure variable.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of cloudiness

# Get the latitude and longitude.

locations = city_data_df[["Lat", "Lng"]]



clouds = city_data_df["Cloudiness"]

# Assign the figure variable.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.

heat_layer = gmaps.heatmap_layer(locations, weights=clouds, 
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of wind speed

# Get the latitude and longitude.

locations = city_data_df[["Lat", "Lng"]]



wind = city_data_df["Wind Speed"]

# Assign the figure variable.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.

heat_layer = gmaps.heatmap_layer(locations, weights=wind, 
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [70]:
# Ask the customer to add a minimum and maximum temperature value.

min_temp = float(input("What is the minimum temperature you would like for your trip? "))

max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 77
What is the maximum temperature you would like for your trip? 90

In [71]:
# Filter the dataset to find the cities that fit the criteria.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]

In [72]:
preferred_cities_df.count()

City_ID       216
City          216
Country       214
Date          216
Lat           216
Lng           216
Max Temp      216
Humidity      216
Cloudiness    216
Wind Speed    216
dtype: int64

In [79]:
#dropped 2 rows with null values for country column

preferred_cities_df = preferred_cities_df.dropna(0)

C:\Users\tgend\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.dropna will be keyword-only
  """Entry point for launching an IPython kernel.

In [80]:
preferred_cities_df.count()

City_ID       214
City          214
Country       214
Date          214
Lat           214
Lng           214
Max Temp      214
Humidity      214
Cloudiness    214
Wind Speed    214
dtype: int64

In [83]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.

hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

hotel_df["Hotel Name"] = ""

hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0             Soma      TR     87.75  39.1855   27.6094
8        Alcantara      BR     86.20  -2.4089  -44.4147
9           Albany      US     80.58  42.6001  -73.9662
11      Georgetown      MY     85.95   5.4112  100.3354
14           Kapaa      US     77.32  22.0752 -159.3190
19  Virginia Beach      US     84.04  36.8529  -75.9780
20          Kijang      KR     82.13  35.2442  129.2139
22        Sulangan      PH     85.71  11.1373  123.7228
26    San Patricio      US     84.09  28.0170  -97.5169
28           Brody      UA     79.86  50.0879   25.1503

In [88]:
params = {
        "radius": 5000,
         "type": "lodging",
         "key": g_key
        }


# Iterate through the DataFrame, searching for each lat/long pair.

# Iterate through the DataFrame.

for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
        
    try:
        
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
            
    except IndexError:
            
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [89]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Soma,TR,87.75,39.1855,27.6094,Hotel Labella
8,Alcantara,BR,86.20,-2.4089,-44.4147,Pousada da Josefa
9,Albany,US,80.58,42.6001,-73.9662,
11,Georgetown,MY,85.95,5.4112,100.3354,Cititel Penang
14,Kapaa,US,77.32,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
19,Virginia Beach,US,84.04,36.8529,-75.9780,Hilton Virginia Beach Oceanfront
20,Kijang,KR,82.13,35.2442,129.2139,Samyang Beach Villa
22,Sulangan,PH,85.71,11.1373,123.7228,Maia's Beach Resort
26,San Patricio,US,84.09,28.0170,-97.5169,"Motel 6 Sinton, TX"
28,Brody,UA,79.86,50.0879,25.1503,Europe

In [91]:
#create heatmap for max temp from the new hotel df, incl markers (See google documentation, this is a layer just like the heat layer)

locations = hotel_df[["Lat", "Lng"]]


max_temp = hotel_df["Max Temp"]

# Assign the figure variable.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable and marker variable.

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
                                 dissipating=False, max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)

# Add the layers.

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [92]:
#this is html for a pop-up box, """ is a multi-line string, this will go in the marker layer


info_box_template = """

<dl>

<dt>Hotel Name</dt><dd>{Hotel Name}</dd>

<dt>City</dt><dd>{City}</dd>

<dt>Country</dt><dd>{Country}</dd>

<dt>Max Temp</dt><dd>{Max Temp} °F</dd>

</dl>

"""


# Store the DataFrame Row by iterating with list comprehension (this is from the google documentation).
#will use this to format each marker's box

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [93]:
#create heatmap for max temp from the new hotel df, incl markers WITH info boxes

locations = hotel_df[["Lat", "Lng"]]


max_temp = hotel_df["Max Temp"]

# Assign the figure variable.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable and marker variable.

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
                                 dissipating=False, max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Add the layers.

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))